{% extends "base.html" %}
{% block content %}

    
    <!-- Slideshow container -->
    <div class="col s12 card-panel orange lighten-2"> 
        <p>
            <strong>Love Books</strong> is a platform for people like us, that enjoy
            reading, talking and understanding as maximum as possible about our favorites books.
            Some of our main categories are Philosophy, Technology, Fiction, Science, Programming,
            and much more, for people that are always interested in learning something new.
            Join our community and share with us yours favorites books, and check some recommendations
            as well.
        </p>

        <a href="{{ url_for('get_products') }}" class="waves-effect waves-light btn pulse red darken-4">CHECK HERE OUR RECOMMENDATION OF BOOKS</a>
    </div>

    <div class="slideshow-container s12">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <img src="static/images/book1.jpg" style="width:100%" alt="Book image">
        </div>

        <div class="mySlides fade">
            <img src="static/images/book2.jpg" style="width:100%" alt="Book image">
        </div>

        <div class="mySlides fade">
            <img src="static/images/book3.jpg" style="width:100%" alt="Book image">
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
 

{% endblock %}