{% extends "base.html" %}
{% block content %}

{% if session.user|lower != 'admin'|lower %}
<!-- Slideshow container -->
<div class="col s12 card-panel orange lighten-2"> 
    <p>
        <strong>Love Books</strong> is a platform for people like us, that enjoy
        reading, talking and understanding as maximum as possible about our favorites books.
        Some of our main categories are Philosophy, Technology, Fiction, Science, Progarmming,
        and much more, for people that are always interested in learning something new.
    </p>
</div>

<div class="slideshow-container s12">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <img src="static/images/book1.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="static/images/book2.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="static/images/book3.jpg" style="width:100%">
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>
{% endif %}



    <h3 class="orange-text text-darken-4 center-align">All Books</h3>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search')}}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Books</label> 
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_products') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i>Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if products|length > 0 %}
    <ul class="collapsible">
        {% for product in products %}
        <li>
            <div class="collapsible-header white-text orange darken-4 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == product.created_by|lower %}
                        <a href="{{ url_for('delete_product', product_id=product._id) }}" class="btn-small green accent-4">Done</a>
                        <a href="{{ url_for('edit_product', product_id=product._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong> {{ product.product_name }} </strong> : {{ product.release_date }}
                    {% if product.is_new == "on" %}
                    <i class="fas fa-exclamation-circle green-text text-lighten-1 tooltipped"
                        data-position="right" data-tooltip="NEW BOOK!"></i>
                     {% endif %}
                </div>
                
            </div>
            <div class="collapsible-body">
                <strong>{{ product.category_name }}</strong>
                <p>{{ product.product_description }}</p>
                <p><em>by: {{ product.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}
<!-- ******************************************************************   -->
{% if session.user|lower != 'admin'|lower %}
<div class="row container center-align">
   
    <div class="col s12">
        <img class="responsive-img" src="static/images/library.jpg" alt="Library" >
    </div>
</div>
{% endif %}

{% endblock %}